<div>
  <mat-toolbar class="bg-primary-header">
    <div fxShow="true" fxHide.gt-sm="true">
      <button class="menuside"mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <img src="../assets/images/1logo.svg" routerLink='/'>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <img src="../../../assets/images/Trazado10.png" class="search">
      <a mat-button routerLink="/about-us" class="alabel">Buscar</a>
      <img src="../../../assets/images/Trazado11.png" class="filterimg">
      <a mat-button routerLink="/prices" class="alabelFilter">Filtrar</a>
    </div>
    <ul class="navbar-nav ml-auto nav-flex-icons"><br><br>
      <li class="nav-item avatar dropdown" dropdown>
        <a   type="button" >
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="imgprofile rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
        </div>
      </li>
    </ul>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill clas>
    <mat-sidenav #sidenav class="sidebar">
      <mat-nav-list>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="imgprofile rounded-circle z-depth-0">
        <a href="#" mat-list-item style="color: #FFF;"><span class="material-icons">
          filter_none
          </span>&nbsp;&nbsp; Dashboard </a><hr class="hr">
        <a href="#" mat-list-item style="color: #FFF;"><span class="material-icons">
          filter_none
          </span>&nbsp;&nbsp;Propuestas</a><hr class="hr">
        <a href="#" mat-list-item style="color: #FFF;"><span class="material-icons">
          filter_none
          </span>&nbsp;&nbsp; Contratos</a><hr class="hr">
        <a href="#" mat-list-item style="color: #FFF;"><span class="material-icons">
          filter_none
          </span>&nbsp;&nbsp;Configuración</a><hr class="hr">
          <hr>
        <a href="#" mat-list-item  style="color: #FFF;margin-top: 290px;"> Cerrar Sesión</a>
      </mat-nav-list>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
