
.hr{
  border-color:#474747;
}

.bg-primary-header{
  background-color: #CC0000;
  height: 75%;
}
.menu-spacer {
  flex: 1 1 auto;
}


.imgprofile{
  max-width: 40%;
  height: auto;
  margin-bottom: 59px;
}

.img{
  width: 10;
  height: 10;
   margin-left: 30px;
   font-size: 20px;
}

.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 100px;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: #ffffff;
min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

.alabel{
  color: #FFF;
  margin-right:70px;
  font-size: 14px;
}

.search{
  margin-right: 10px;

}


.menuside{
background-color: #CC0000;
    border-color: #CC0000;
    color: #FFF;
    border: none;
    margin-right: 30px;
}

.alabelFilter{
  margin-right: 100px;
  color: #FFF;
  background: #CC0000 0% 0% no-repeat padding-box;
  font-size: 14px;

}

.filterimg{
  margin-right: 15px;

}

.sidebar{
  width: 317px;
  background-color: #222222;
}


