.cardBody{
background: #FFFFFF 0% 0% no-repeat padding-box;
}

.textTitle{
color: #222222;
font-size: 18px;

}

.loader{
  position: relative;
margin-top: 200px;
width: 100%;
height: 54px;
-webkit-animation: floatBubble 2s normal ease-out;
  animation: floatBubble 2s normal ease-out;


}
.visibilty{
  margin-left: 92%;
  margin-top: 14px;
}


::placeholder{
  color: #767676;
}

@-webkit-keyframes floatBubble {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}
@keyframes floatBubble {
  0% {
      top:500px;
  }
  100% {
      top: 0px;
  }
}

.form{
  margin-bottom: -30px;
}


.formulario {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}


.input-Label{
  color:#222222;
  font-size: 16px;
}

.buttonLogin{
  background-color:red;
  color: #FFFFFF;
}

