
  <img src="../assets/images/1logo.svg" class="loader " >
  <div class="col-md-3 mx-auto mt-5 formulario" *ngIf="showSpinner===false">
    <div class="cardBody">
      <div class="card-body">
        <h5 class="textTitle">Bienvenido, inicia sesión para continuar</h5><hr>
        <form [formGroup]="loginForm" >
          <div >
            <input formControlName="email" type="email" class="form-control input-Label"   placeholder="Ingresa tu número de identificación">
          </div>
          <br><br>
          <div class="form-group">
            <input  autocomplete="off"  formControlName="password" required placeholder="Ingresa tu contraseña"  class="form-control input-Label" [type]="hide ? 'text':'password' " >

            <i class="material-icons visibilty" matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</i>
          </div>
          <br><br><br>
          <button [disabled]="!loginForm.valid"  type="submit" class="btn butonLogin btn-lg btn-block buttonLogin"  (click)="loadData()"  >Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="showSpinner===true">
    <app-loader></app-loader >
  </div>
