
<div class="wrapper" style="background-color:#FFF;">
    <div class="img-area" >
      <div class="inner-area">
        <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
    </div>
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">María Antonia Silva </div><hr>
    <div class="about">cc: 104578549385</div><hr class="hr">
    <div class="about">Número de propuesta: 564564 </div><br>
    <div class="about">Fecha de simulación: 23/08/19 </div><br>
    <div class="about">Valor del crédito: $ 6.000.000 </div><br>
    <div class="about">Agente: Patrícia Mederos Bez... </div><br>

    <button  class="btn butonLogin btn-lg btn-block buttonLogin">Ver Solicitud</button>
    <div class="social-icons">
   </div>

  </div>

  <div class="wrapper" style="background-color:#FFF;">
    <div class="img-area" >
      <div class="inner-area">
        <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
    </div>
    <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">María Antonia Silva </div><hr>
    <div class="about">cc: 104578549385</div><hr class="hr">
    <div class="about">Número de propuesta: 564564 </div><br>
    <div class="about">Fecha de simulación: 23/08/19 </div><br>
    <div class="about">Valor del crédito: $ 6.000.000 </div><br>
    <div class="about">Agente: Patrícia Mederos Bez... </div><br>

    <button  class="btn butonLogin btn-lg btn-block buttonLogin">Ver Solicitud</button>
    <div class="social-icons">
   </div>

  </div>


<div class="wrapper" style="background-color:#FFF;">
  <div class="img-area" >
    <div class="inner-area">
      <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
  <div class="icon arrow"><i class="fas fa-arrow-left"></i></div>
  <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
  <div class="name">María Antonia Silva </div><hr>
  <div class="about">cc: 104578549385</div><hr class="hr">
  <div class="about">Número de propuesta: 564564 </div><br>
  <div class="about">Fecha de simulación: 23/08/19 </div><br>
  <div class="about">Valor del crédito: $ 6.000.000 </div><br>
  <div class="about">Agente: Patrícia Mederos Bez... </div><br>

  <button  class="btn butonLogin btn-lg btn-block buttonLogin">Ver Solicitud</button>
  <div class="social-icons">
 </div>

</div>
